.btn-primary {
	@apply px-4 py-2 rounded-sm shadow-md font-semibold tracking-wide leading-none transition-colors cursor-pointer
	text-neutral-100
	bg-neutral-800
	hover:bg-neutral-700
	active:bg-neutral-950
	focus:outline-2 focus:outline-offset-1 focus:outline-neutral-600;
}

.btn-primary-icon {
	@apply p-2 aspect-square rounded-sm shadow-md font-semibold tracking-wide leading-none transition-colors cursor-pointer
	text-neutral-100
	bg-neutral-800
	hover:bg-neutral-700
	active:bg-neutral-950
	focus:outline-2 focus:outline-offset-1 focus:outline-neutral-600;
}

.btn-primary-red {
	@apply text-neutral-100
	bg-red-500
	hover:bg-red-400
	active:bg-red-600;
}

.btn-secondary {
	@apply px-4 py-2 rounded-sm shadow-md font-semibold tracking-wide leading-none transition-colors cursor-pointer
	text-neutral-600
	bg-transparent border border-neutral-400
	hover:bg-neutral-200
	active:bg-neutral-300
	focus:outline-2 focus:outline-offset-1 focus:outline-neutral-600;
}

.btn-secondary-icon {
	@apply p-2 aspect-square rounded-sm shadow-md font-semibold tracking-wide leading-none transition-colors cursor-pointer
	text-neutral-600
	bg-transparent border border-neutral-400
	hover:bg-neutral-200
	active:bg-neutral-300
	focus:outline-2 focus:outline-offset-1 focus:outline-neutral-600;
}

.btn-secondary-red {
	@apply text-red-500
	bg-transparent border border-red-500
	hover:bg-red-100
	active:bg-red-200;
}

.btn-secondary-blue {
	@apply text-sky-500
	bg-transparent border border-sky-500
	hover:bg-sky-100
	active:bg-sky-200;
}
