.btn-primary {
	@apply px-5 py-2 rounded-sm shadow-md font-semibold tracking-wide leading-none transition-colors cursor-pointer
	bg-neutral-800 text-neutral-100
	hover:bg-neutral-700
	active:bg-neutral-950
	focus:outline-2 focus:outline-offset-1 focus:outline-neutral-600
	disabled:cursor-default disabled:opacity-75;
}

.btn-primary-icon {
	@apply p-2 aspect-square rounded-sm shadow-md font-semibold tracking-wide leading-none transition-colors cursor-pointer
	bg-neutral-800 text-neutral-100
	hover:bg-neutral-700
	active:bg-neutral-950
	focus:outline-2 focus:outline-offset-1 focus:outline-neutral-600
	disabled:cursor-default disabled:opacity-75;
}

.btn-primary-red {
	@apply bg-red-500 text-neutral-100
	hover:bg-red-400
	active:bg-red-600;
}

.btn-secondary {
	@apply px-5 py-2 rounded-sm shadow-md font-semibold tracking-wide leading-none transition-colors cursor-pointer
	bg-transparent border border-neutral-400 text-neutral-600
	hover:bg-neutral-200
	active:bg-neutral-300
	focus:outline-2 focus:outline-offset-1 focus:outline-neutral-600
	disabled:cursor-default disabled:opacity-75;
}

.btn-secondary-icon {
	@apply p-2 aspect-square rounded-sm shadow-md font-semibold tracking-wide leading-none transition-colors cursor-pointer
	bg-transparent border border-neutral-400 text-neutral-600
	hover:bg-neutral-200
	active:bg-neutral-300
	focus:outline-2 focus:outline-offset-1 focus:outline-neutral-600
	disabled:cursor-default disabled:opacity-75;
}

.btn-secondary-red {
	@apply bg-transparent border border-red-500 text-red-500
	hover:bg-red-100
	active:bg-red-200;
}

.btn-secondary-blue {
	@apply bg-transparent border border-sky-500 text-sky-500
	hover:bg-sky-100
	active:bg-sky-200;
}
